:root {
  --accent-purple: #5d3974;
  --button-background: #402166;
  --button-background-secondary: #1e0042;
  --button-drop-shadow: 0px 4px 10px 0px #00000040;
  --button-hover-drop-shadow: 0px 4px 10px 0px #a60ac7;
  --buttonprimarytexthover: #fff;
  --content-background: #221a37;
  --logo-font-font-family: "Alata-Regular", Helvetica;
  --logo-font-font-size: 27px;
  --logo-font-font-style: normal;
  --logo-font-font-weight: 400;
  --logo-font-letter-spacing: 0px;
  --logo-font-line-height: normal;
  --main-background: #221a37;
  --minititle-font-font-family: "Abel-Regular", Helvetica;
  --minititle-font-font-size: 12px;
  --minititle-font-font-style: normal;
  --minititle-font-font-weight: 400;
  --minititle-font-letter-spacing: 0px;
  --minititle-font-line-height: 0px;
  --navlink-font-font-family: "Alata-Regular", Helvetica;
  --navlink-font-font-size: 12px;
  --navlink-font-font-style: normal;
  --navlink-font-font-weight: 400;
  --navlink-font-letter-spacing: 0px;
  --navlink-font-line-height: normal;
  --pagetitle-font-font-family: "Abel-Regular", Helvetica;
  --pagetitle-font-font-size: 52px;
  --pagetitle-font-font-style: normal;
  --pagetitle-font-font-weight: 400;
  --pagetitle-font-letter-spacing: 0px;
  --pagetitle-font-line-height: normal;
  --paragraph-font-font-family: "Abel-Regular", Helvetica;
  --paragraph-font-font-size: 14px;
  --paragraph-font-font-style: normal;
  --paragraph-font-font-weight: 400;
  --paragraph-font-letter-spacing: 0px;
  --paragraph-font-line-height: 158.5%;
  --purple-glow: 0px 4px 4px 0px #a60ac7;
  --purple-glow-light: 0px 0px 10px 0px #a60ac74d;
  --shadow-xs: 0px 1px 2px 0px #1018280d;
  --subtile-font-font-family: "Abel-Regular", Helvetica;
  --subtile-font-font-size: 14px;
  --subtile-font-font-style: normal;
  --subtile-font-font-weight: 400;
  --subtile-font-letter-spacing: 0px;
  --subtile-font-line-height: normal;
  --suptitle-font-font-family: "Abel-Regular", Helvetica;
  --suptitle-font-font-size: 20px;
  --suptitle-font-font-style: normal;
  --suptitle-font-font-weight: 400;
  --suptitle-font-letter-spacing: 0px;
  --suptitle-font-line-height: normal;
  --text-gray: #575757;
  --text-shadow: 0px 4px 4px 0px #00000040;
  --text-white: #e8e8e8;
}

.button {
  all: unset;
  box-sizing: border-box;
  border-radius: 10px;
  align-items: flex-start;
  display: inline-flex;
  position: relative;
}

.button .button-wrapper {
  all: unset;
  background-color: var(--button-background);
  box-sizing: border-box;
  border-radius: 26px;
  flex: none;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 32px;
  display: inline-flex;
  position: relative;
}

.button .text-wrapper {
  all: unset;
  box-sizing: border-box;
  color: var(--buttonprimarytexthover);
  letter-spacing: 0;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -1px;
  font-family: Alata, Helvetica;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  position: relative;
}

.button.click-true {
  flex-direction: column;
}

.button.click-true .button-wrapper {
  box-shadow: var(--button-hover-drop-shadow);
}

.button.click-false .button-wrapper {
  box-shadow: var(--button-drop-shadow);
}

.button:hover .button-wrapper {
  background-color: var(--button-background-secondary);
}

.link {
  align-items: flex-start;
  display: inline-flex;
  position: relative;
}

.link .base {
  box-shadow: var(--shadow-xs);
  flex: none;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  display: inline-flex;
  position: relative;
}

.link .text {
  color: var(--text-white);
  font-family: var(--navlink-font-font-family);
  font-size: var(--navlink-font-font-size);
  font-style: var(--navlink-font-font-style);
  font-weight: var(--navlink-font-font-weight);
  letter-spacing: var(--navlink-font-letter-spacing);
  line-height: var(--navlink-font-line-height);
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -1px;
  position: relative;
}

.link.normal {
  border-radius: 10px;
}

.link.hover {
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 8px 8px #8e86b0;
}

.link.click .base {
  border: 1px solid;
  border-color: var(--accent-purple);
  border-radius: 10px;
  overflow: hidden;
}

.link.click .text, .link.hover .text {
  box-shadow: var(--button-hover-drop-shadow);
  text-shadow: 0 4px 10px #a60ac7;
}

.header {
  align-items: center;
  gap: 10px;
  width: 1502px;
  padding: 60px;
  display: flex;
  position: relative;
}

.header .title-name {
  box-shadow: var(--text-shadow);
  color: var(--text-white);
  font-family: var(--logo-font-font-family);
  font-size: var(--logo-font-font-size);
  font-style: var(--logo-font-font-style);
  font-weight: var(--logo-font-font-weight);
  letter-spacing: var(--logo-font-letter-spacing);
  line-height: var(--logo-font-line-height);
  text-shadow: 0 4px 4px #00000040;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.header .navigation {
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  padding: 10px 36px;
  display: flex;
  position: relative;
}

.header .design-component-instance-node {
  flex: none !important;
}

.header .link-instance {
  font-family: Alata, Helvetica !important;
  font-size: 12px !important;
  font-style: unset !important;
  letter-spacing: 0 !important;
  font-weight: 400 !important;
  line-height: normal !important;
}

.gallery-item {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.gallery-item .img {
  box-shadow: var(--purple-glow-light);
  border-radius: 10px;
  flex-direction: column;
  align-self: stretch;
  align-items: flex-start;
  width: 100%;
  height: 223.5px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.gallery-item .img-2 {
  object-fit: cover;
  flex: 1;
  align-self: stretch;
  width: 100%;
  position: relative;
}

.SC-PRESENT {
  opacity: 0;
  width: 103px;
  height: 19px;
  position: relative;
}

.SC-PRESENT .div {
  box-shadow: var(--text-shadow);
  color: var(--accent-purple);
  font-family: var(--minititle-font-font-family);
  font-size: var(--minititle-font-font-size);
  font-style: var(--minititle-font-font-style);
  font-weight: var(--minititle-font-font-weight);
  letter-spacing: var(--minititle-font-letter-spacing);
  line-height: var(--minititle-font-line-height);
  text-shadow: 0 4px 4px #00000040;
  position: absolute;
  top: -1px;
  left: 0;
}

.lead-developer {
  opacity: 0;
  width: 314px;
  height: 22px;
  position: relative;
}

.lead-developer .text-wrapper-3 {
  box-shadow: var(--text-shadow);
  color: var(--text-white);
  letter-spacing: 0;
  text-shadow: 0 4px 4px #00000040;
  width: 314px;
  font-family: Abel, Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.2px;
  position: absolute;
  top: -1px;
  left: 0;
}

.shopify-expert-with {
  opacity: 0;
  width: 314px;
  height: 160px;
  position: relative;
}

.shopify-expert-with .p {
  box-shadow: var(--text-shadow);
  color: var(--text-white);
  letter-spacing: 0;
  text-shadow: 0 4px 4px #00000040;
  width: 314px;
  font-family: Abel, Helvetica;
  font-size: 10px;
  font-weight: 400;
  line-height: 15.8px;
  position: absolute;
  top: -1px;
  left: 0;
}

.sounds-good-agency {
  opacity: 0;
  width: 104px;
  height: 38px;
  position: relative;
}

.sounds-good-agency .text-wrapper-2 {
  box-shadow: var(--text-shadow);
  color: var(--text-gray);
  font-family: var(--minititle-font-font-family);
  font-size: var(--minititle-font-font-size);
  font-style: var(--minititle-font-font-style);
  font-weight: var(--minititle-font-font-weight);
  letter-spacing: var(--minititle-font-letter-spacing);
  line-height: var(--minititle-font-line-height);
  text-align: right;
  text-shadow: 0 4px 4px #00000040;
  width: 104px;
  position: absolute;
  top: -1px;
  left: 0;
}

.resume-item {
  align-items: center;
  gap: 10px;
  width: 500px;
  padding: 10px;
  display: flex;
  position: relative;
}

.resume-item .left {
  flex-direction: column;
  align-self: stretch;
  align-items: flex-end;
  gap: 10px;
  width: 124px;
  padding: 10px;
  display: flex;
  position: relative;
}

.resume-item .design-component-instance-node-2 {
  opacity: unset !important;
}

.resume-item .seprator-line {
  box-shadow: var(--purple-glow);
  background-color: #a60ac7;
  border-radius: 10px;
  align-self: stretch;
  width: 2px;
  position: relative;
}

.resume-item .right {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-self: stretch;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  display: flex;
  position: relative;
}

.page-contents {
  width: 505px;
  height: 784px;
  position: relative;
}

.page-contents .slider {
  align-items: flex-start;
  gap: 65px;
  padding: 0 41px;
  display: inline-flex;
  position: relative;
  top: 20px;
}

.page-contents .about-2 {
  flex-direction: column;
  align-items: flex-start;
  width: 485px;
  height: 696px;
  display: flex;
  position: relative;
}

.page-contents .chief {
  box-shadow: var(--text-shadow);
  color: var(--accent-purple);
  font-family: var(--suptitle-font-font-family);
  font-size: var(--suptitle-font-font-size);
  font-style: var(--suptitle-font-font-style);
  font-weight: var(--suptitle-font-font-weight);
  letter-spacing: var(--suptitle-font-letter-spacing);
  line-height: var(--suptitle-font-line-height);
  text-shadow: 0 4px 4px #00000040;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -1px;
  position: relative;
}

.page-contents .AI-UI-architect {
  box-shadow: var(--text-shadow);
  color: var(--text-white);
  font-family: var(--pagetitle-font-font-family);
  font-size: var(--pagetitle-font-font-size);
  font-style: var(--pagetitle-font-font-style);
  font-weight: var(--pagetitle-font-font-weight);
  letter-spacing: var(--pagetitle-font-letter-spacing);
  line-height: var(--pagetitle-font-line-height);
  text-shadow: 0 4px 4px #00000040;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.page-contents .design-development {
  box-shadow: var(--text-shadow);
  color: var(--text-gray);
  font-family: var(--subtile-font-font-family);
  font-size: var(--subtile-font-font-size);
  font-style: var(--subtile-font-font-style);
  font-weight: var(--subtile-font-font-weight);
  letter-spacing: var(--subtile-font-letter-spacing);
  line-height: var(--subtile-font-line-height);
  text-shadow: 0 4px 4px #00000040;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.page-contents .text-content {
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  padding: 30px 0;
  display: flex;
  position: relative;
}

.page-contents .design-development-2 {
  box-shadow: var(--text-shadow);
  color: silver;
  font-family: var(--paragraph-font-font-family);
  font-size: var(--paragraph-font-font-size);
  font-style: var(--paragraph-font-font-style);
  font-weight: var(--paragraph-font-font-weight);
  letter-spacing: var(--paragraph-font-letter-spacing);
  line-height: var(--paragraph-font-line-height);
  text-shadow: 0 4px 4px #00000040;
  flex: 1;
  align-self: stretch;
  margin-top: -1px;
  position: relative;
}

.page-contents .resume-list {
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  display: flex;
  position: relative;
}

.page-contents .resume-item-instance {
  flex: none !important;
}

.page-contents .gallery-2 {
  align-items: flex-start;
  width: 485px;
  height: 696px;
  display: flex;
  position: relative;
}

.page-contents .frame {
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.page-contents .gallery-item-instance {
  flex: none !important;
  align-self: stretch !important;
  width: 100% !important;
}

.page-contents .instance-node {
  flex: none !important;
  align-self: stretch !important;
  width: 100% !important;
  margin-bottom: -10px !important;
}

.page-contents .certificates-2 {
  align-items: flex-start;
  width: 460px;
  height: 696px;
  display: flex;
  position: relative;
}

.page-contents .frame-2 {
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  display: flex;
  position: relative;
}

.page-contents .class {
  border-radius: 10px !important;
  flex: none !important;
  align-self: stretch !important;
  width: 100% !important;
  overflow: hidden !important;
}

.page-contents .certificates {
  left: -1693px;
}

.page-contents .resume {
  left: -613px;
}

.page-contents .gallery {
  left: -1153px;
}

.page-contents .about {
  left: -23px;
}

.page {
  background-color: #242424;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 1440px;
  height: 1024px;
  padding: 11px 10px;
  display: flex;
  position: relative;
}

.page .content-card {
  background-color: #221a37;
  border-radius: 100px;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 75px 35px #00000042;
}

.page .background-image {
  object-fit: cover;
  width: 1238px;
  height: 953px;
  position: absolute;
  top: 49px;
  left: 0;
}

.page .content {
  flex: 1;
  justify-content: flex-end;
  align-self: stretch;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 0 60px;
  display: flex;
  position: relative;
}

.page .right-pane {
  flex-direction: column;
  align-self: stretch;
  align-items: flex-start;
  width: 578px;
  display: flex;
  position: relative;
}

.page .page-contents-instance {
  width: 522px !important;
  height: 811px !important;
}

.page-instance {
  background-color: var(--content-background) !important;
}

.page-2 {
  background-color: #0000 !important;
  flex: none !important;
  align-self: stretch !important;
  width: 100% !important;
}

.page-3 {
  object-fit: unset !important;
  margin-left: -1774px !important;
}

.page-4 {
  margin-left: -1466.5px !important;
}

.page-5 {
  object-fit: unset !important;
  margin-left: -2004px !important;
}

.page-6 {
  margin-left: -1224px !important;
}

.page-7 {
  margin-top: -217px !important;
  margin-left: -1466.5px !important;
}

.page-8 {
  margin-top: -217px !important;
  margin-left: -1224px !important;
}

/*# sourceMappingURL=index.7e392595.css.map */
