:root {
  --accent-purple: rgba(93, 57, 116, 1);
  --button-background: rgba(64, 33, 102, 1);
  --button-background-secondary: rgba(30, 0, 66, 1);
  --button-drop-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  --button-hover-drop-shadow: 0px 4px 10px 0px rgba(166, 10, 199, 1);
  --buttonprimarytexthover: rgba(255, 255, 255, 1);
  --content-background: rgba(34, 26, 55, 1);
  --logo-font-font-family: "Alata-Regular", Helvetica;
  --logo-font-font-size: 27px;
  --logo-font-font-style: normal;
  --logo-font-font-weight: 400;
  --logo-font-letter-spacing: 0px;
  --logo-font-line-height: normal;
  --main-background: rgba(34, 26, 55, 1);
  --minititle-font-font-family: "Abel-Regular", Helvetica;
  --minititle-font-font-size: 12px;
  --minititle-font-font-style: normal;
  --minititle-font-font-weight: 400;
  --minititle-font-letter-spacing: 0px;
  --minititle-font-line-height: 0px;
  --navlink-font-font-family: "Alata-Regular", Helvetica;
  --navlink-font-font-size: 12px;
  --navlink-font-font-style: normal;
  --navlink-font-font-weight: 400;
  --navlink-font-letter-spacing: 0px;
  --navlink-font-line-height: normal;
  --pagetitle-font-font-family: "Abel-Regular", Helvetica;
  --pagetitle-font-font-size: 52px;
  --pagetitle-font-font-style: normal;
  --pagetitle-font-font-weight: 400;
  --pagetitle-font-letter-spacing: 0px;
  --pagetitle-font-line-height: normal;
  --paragraph-font-font-family: "Abel-Regular", Helvetica;
  --paragraph-font-font-size: 14px;
  --paragraph-font-font-style: normal;
  --paragraph-font-font-weight: 400;
  --paragraph-font-letter-spacing: 0px;
  --paragraph-font-line-height: 158.4999918937683%;
  --purple-glow: 0px 4px 4px 0px rgba(166, 10, 199, 1);
  --purple-glow-light: 0px 0px 10px 0px rgba(166, 10, 199, 0.3);
  --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --subtile-font-font-family: "Abel-Regular", Helvetica;
  --subtile-font-font-size: 14px;
  --subtile-font-font-style: normal;
  --subtile-font-font-weight: 400;
  --subtile-font-letter-spacing: 0px;
  --subtile-font-line-height: normal;
  --suptitle-font-font-family: "Abel-Regular", Helvetica;
  --suptitle-font-font-size: 20px;
  --suptitle-font-font-style: normal;
  --suptitle-font-font-weight: 400;
  --suptitle-font-letter-spacing: 0px;
  --suptitle-font-line-height: normal;
  --text-gray: rgba(87, 87, 87, 1);
  --text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --text-white: rgba(232, 232, 232, 1);
}
