.header {
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 60px;
  position: relative;
  width: 1502px;
}

.header .title-name {
  box-shadow: var(--text-shadow);
  color: var(--text-white);
  font-family: var(--logo-font-font-family);
  font-size: var(--logo-font-font-size);
  font-style: var(--logo-font-font-style);
  font-weight: var(--logo-font-font-weight);
  letter-spacing: var(--logo-font-letter-spacing);
  line-height: var(--logo-font-line-height);
  position: relative;
  text-shadow: 0px 4px 4px #00000040;
  width: fit-content;
}

.header .navigation {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 32px;
  justify-content: flex-end;
  padding: 10px 36px;
  position: relative;
}

.header .design-component-instance-node {
  flex: 0 0 auto !important;
}

.header .link-instance {
  font-family: "Alata", Helvetica !important;
  font-size: 12px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
}
